/* FONT CACHE 
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
    font-family: 'Raleway', sans-serif;
    background: url(images/clouds-hd-wallpaper-outdoors-133953.jpg);
    background-repeat: no-repeat;
    background-size: 1800px;
    margin:0;
    overflow: hidden;
    padding:0; 
    box-sizing: border-box; 
}

header {
    position: fixed;
    top: 0;
    left: 25px;
    z-index: 2;
    width: 100%;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

main {
    
}

#grid-container {
  display: inline-grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns:350px auto;
  grid-template-rows:600px;
}

/*Navigation*/

nav {
    background-image: url(images/iphone.png);
    background-repeat: no-repeat;
    height: 550px;
    width: 320px;
    background-size: cover; 
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.nav-list {
    list-style-type: none;
    position: relative;
    left: 100px;
    top: 100px;
    width: 130px;
}

.navbutton { 
    display: inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid gray;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(10, 71, 71, 0.2);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color: #fff;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color:#000000;
    background-color:green;
    }

/*CARDS*/
.card-container {
  display: flex;
  flex-direction: row;
}
.card {
  background: #fff;
  width: 300px;
  height: 400px;
  margin: 10px 5px 10px 5px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Raleway', sans-serif;
}

.portfolio-thumbnail {
  width: 275px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border: 0px;
 }

/*GENERAL CLASSES*/

.hidden {
      display: none;
    }


/*JS*/
#js-content {
  position: fixed;
  top: 20px;
  left: 400px;
}
 
/*Profile*/
#profile p{
color: white;
background: rgba(0, 0, 0, 0.3);
}



/*IMAGES*/

.tarot {
      width: 200px;
      border-radius: 50%;
      border: 3px solid white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      float: left;
      padding: 10px;
      margin: 20px;
      
    }


   
/*TEXT*/

.headline {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.hero-text {
  position: absolute;
  top: 200px;

}
.white {
  color:white;
}

.teal {
  color: teal;
}

h3 {
  padding: 0px;
  margin: 0px;
}

.hr1 {
  padding: 0px;
}



/*Typewrite Animation */

.animate-A {
        overflow: hidden; 
        font-family: 'Raleway', sans-serif;
        color: #fff;
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: .15em; 
        animation: typing 4s steps(80, end);
        animation-delay: -1s;
      }

.animate-B {
      overflow: hidden; 
      font-family: 'Raleway', sans-serif;
      color: #fff;
      white-space: nowrap; 
      margin: 0 auto; 
      letter-spacing: .15em; 
      animation: typing 4s steps(80, end);
    }
      
@keyframes typing {
        from { opacity: 0}
        to { opacity: 100%}
      }
