/* FONT CACHE 
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
    background: url(images/clouds-hd-wallpaper-outdoors-133953.jpg);
    background-repeat: no-repeat;
    background-size: 1800px;
    margin:0;
    overflow: hidden;
    padding:0;  
}

header {
    position: fixed;
    top: 0;
    left: 25px;
    z-index: 2;
    width: 100%;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

main {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

nav {
    background-image: url(images/iphone.png);
    background-repeat: no-repeat;
    height: 550px;
    width: 320px;
    background-size: cover; 
    position: fixed;
    bottom: 0px;
    left: 0px;
}



.nav-list {
    list-style-type: none;
    position: relative;
    left: 100px;
    top: 100px;
    width: 130px;
}

.navbutton { 
    display: inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid gray;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(10, 71, 71, 0.2);
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color: #fff;
    text-align: center;
    transition: all 0.2s;
}

    a.button1:hover {
    color:#000000;
    background-color:gray;
    }

    .hero-text {
        position: relative;
        bottom: 500px;
        left: 500px;
    }


   
      /*Typewrite Animation */

      .animate-A {
        overflow: hidden; 
        font-family: 'Raleway', sans-serif;
        color: #fff;
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: .15em; 
        animation: typing 4s steps(80, end);
        animation-delay: -1s;
      }

      .animate-B {
        overflow: hidden; 
        font-family: 'Raleway', sans-serif;
        color: #fff;
        white-space: nowrap; 
        margin: 0 auto; 
        letter-spacing: .15em; 
        animation: typing 6s steps(80, end);
      }
      
      @keyframes typing {
        from { opacity: 0}
        to { opacity: 100%}
      }
